<% title "Pub Quizz.es" %>
<h2>Welcome to the worlds best pub quiz generator</h2>
<p>Automatically generate quiz rounds, based on your own formats, or help to create the largest free quiz question database by adding or generating your own</p>